#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-primary {  
  display: flex;
  background-color: red;
  padding: 20px;
  justify-content: space-between;
  gap: 40px;
}

.container-primary .container-left {

}


.container-primary .container-right {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  flex: 1;
}
