#root {
  margin: 0 auto;
  padding: 2rem;
}

.container-primary {  
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 40px;
}

.container-primary .container-left {

}


.container-primary .container-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
}

.container-right .git_cards_container {
  display: flex;
  gap: 30px;
}
  